#dashboard
	margin-bottom: 20px

	#horizon
		background-image: url(/images/horizon.png)
		background-repeat: no-repeat
		background-size: 100%
		height: 300px

	.stick
		background-image: url(/images/stick.png)
		background-size: 100%
		background-repeat: no-repeat
		height: 220px
	.engines
		margin-top: 20px

	.engine
		background-color: #ddd
		height: 200px
		.throttle
			margin-top: 200px
			height: 300px
			width: 60px
			background-repeat: repeat !important