#sensors
    #chart
        height: 250px
        border: 1px solid #ddd

    fieldset
        label
            display: block
            &:nth-child(1)
                background-color: red
            &:nth-child(2)
                background-color: green
            &:nth-child(3)
                background-color: blue
            &:nth-child(4)
                background-color: cyan

            &:nth-child(5)
                background-color: magenta
            &:nth-child(6)
                background-color: pink
            &:nth-child(7)
                background-color: salmon

