!!! 5
%html
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %meta{:name => 'viewport', :content => 'initial-scale = 1.0,maximum-scale = 1.0'}
    %meta{:name => 'language', :content => 'nl_NL'}
        
    %title AQPlot

    = stylesheet_link_tag 'aqplot'
    %script{:src => '//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js'}
    %script{:src => 'javascripts/all.js'}
    
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{'data-toggle'=> 'collapse', 'data-target' => '.nav-collapse'}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{'href' => '/'} AeroQuad Plotter
          .nav-collapse.collapse
            %ul.nav
              %li
                %a{'href' => '/'} Home
              %li
                %a{'href' => '/dashboard.html'} Dashboard
              %li
                %a{'href' => '/sensors.html'} Sensors
              %li
                %a{'href' => '/receiver.html'} Receiver
              %li
                %a{'href' => '/engines.html'} Engines
    #content.container
      = yield
      %pre#log