.row#dashboard
    .span4
        .row
            .span4#horizon
                %img#ah{'src' => '/images/ah.jpg'}
                %img#dial{'src' => '/images/dial.png'}

        .row
            .span2
                .row
                    .span2
                        Roll
                    .span2
                        Pitch
                    .span2
                        Heading
                    .span2
                        Altitude
                    .span2
                        Battery
            .span2
                .state
                    %span.label Motor status
                    .btn#armed Off
                .state
                    %span.label Flight mode
                    .btn.btn-primary Rate
                .state
                    %span.label Altitude hold
                    .btn Off

    .span8
        .row
            .span3.stick.left
                .position
            .span2
                .buttons
                    .button
                        %span.label Mode
                        .progress
                            .bar
                    .button
                        %span.label Aux 1
                        .progress
                            .bar
                    .button
                        %span.label Aux 2
                        .progress
                            .bar
                    .button
                        %span.label Aux 3
                        .progress
                            .bar
            .span3.stick.right
                .position
        .row.engines
            .engine.span1.progress
                .throttle.bar#engine1
            .engine.span1.progress
                .throttle.bar#engine2
            .engine.span1.progress
                .throttle.bar#engine3
            .engine.span1.progress
                .throttle.bar#engine4
            .engine.span1.progress
                .throttle.bar#engine5
            .engine.span1.progress
                .throttle.bar#engine6
            .engine.span1.progress
                .throttle.bar#engine7
            .engine.span1.progress
                .throttle.bar#engine8
        

:javascript
    function getLog() {
        $.ajax({
            url:'http://127.0.0.1:5678/?command=s',
            complete: function() {
                setTimeout(getLog,100);
            },
            success: function(data, status) {
                $('#log').prepend(data.join(',') + '\n')
                now = new Date().getTime()
                
                setArmed(data[0]);
                setKinematics(data[1], data[2], data[3]);
                setAltitude(data[4])
                setAltitudeHold(data[5])

                setReceiver('roll', data[6])
                setReceiver('pitch', data[7])
                setReceiver('yaw', data[8])
                setReceiver('throttle', data[9])
                setReceiver('mode', data[10])
                setReceiver('aux1', data[11])
                setReceiver('aux2', data[12])
                setReceiver('aux3', data[13])

                setEngine(1, data[14])
                setEngine(2, data[15])
                setEngine(3, data[16])
                setEngine(4, data[17])
                setEngine(5, data[18])
                setEngine(6, data[19])
                setEngine(7, data[20])
                setEngine(8, data[21])

                setVoltage(data[22])
                setMode(data[23])

            }
        });
    }
    function setKinematics(x, y, z){
        z = z * 45
        $('#dial').css('transform','rotate(' + z + 'deg)');
        $('#dial').css('-webkit-transform','rotate(' + z + 'deg)');


    }
    function setAltitude(height){}
    function setAltitudeHold(value){}
    function setReceiver(axis, rate){
        if(rate == 0)
        {
            return false;
        }
        rate = rate - 1000
        width = 200
        if(axis == 'throttle' || axis == 'pitch') {
            pos = width - (width * (rate / 1000))
        }
        if(axis == 'yaw' || axis == 'roll')
        {
            pos = (width * (rate / 1000)) - 20        
        }

        if(axis == 'throttle'){
            $('.stick.left .position').css('top', pos);
        }
        if(axis == 'pitch'){
            $('.stick.right .position').css('top', pos);
        }
        if(axis == 'yaw') {
            $('.stick.left .position').css('left', pos);
        }
        if(axis == 'roll'){
            $('.stick.right .position').css('left', pos);
        }



    }
    function setVoltage(voltage){}
    function setMode(mode){}
    function setArmed(status)
    {
        if(parseInt(status) == 1)
        {
            $('#armed').addClass('btn-warning')
            $('#armed').text('Armed')
        }
        else
        {
            $('#armed').removeClass('btn-warning')
            $('#armed').text('Off')
        }
    }

    function setEngine(i, rate){
        margin = ((rate - 1000) / 1000) * 200
        margin = 200 - margin
        $('#engine' + i).css('marginTop', margin);
    }


    getLog();