#sensors.row
    .span12
        .page-header
            %h2 Sensors

    .span3
        %form.form-inline
            %fieldset
                %label.checkbox
                    %input#gyro-roll{'type' => 'checkbox', 'value' => '0', 'checked' => 'checked'} Gyro Roll
                %label.checkbox
                    %input#gyro-pitch{'type' => 'checkbox', 'value' => '1', 'checked' => 'checked'} Gyro Pitch
                %label.checkbox
                    %input#gyro-yaw{'type' => 'checkbox', 'value' => '2', 'checked' => 'checked'} Gyro Yaw
                %label.checkbox
                    %input#axl-x{'type' => 'checkbox', 'value' => '3', 'checked' => 'checked'} Axl X
                %label.checkbox
                    %input#axl-y{'type' => 'checkbox', 'value' => '4', 'checked' => 'checked'} Axl Y
                %label.checkbox
                    %input#axl-z{'type' => 'checkbox', 'value' => '5', 'checked' => 'checked'} Axl Z
    .span9
        %canvas{:id => 'chart',:width => '700', :height => '250'}


:javascript
    grid = {
        fillStyle:'#fff',
        strokeStyle: '#ddd',
        lineWidth: 1,
        millisPerLine: 100,
        verticalSections: 4
    };
    labels = {
        fillStyle:'#000'
    }

    options = {
        grid: grid,
        labels: labels,
        interpolation: 'line',
    }
    var chart = new SmoothieChart(options);

    // setup timeseries for every axis
    axis = []
    $('#sensors input').each(function(i,o){
        axis[i] = new TimeSeries();
        chart.addTimeSeries(axis[i], { strokeStyle: $(o.parentNode).css('backgroundColor'), fillStyle: 'rgba(0,0,0, 0)', lineWidth: 3 });
    });
    chart.streamTo(document.getElementById("chart"), 100);

    function getLog() {
        $.ajax({
            url:host+'/?command=i',
            complete: function() {
                setTimeout(getLog,100); //now that the request is complete, do it again in 1 second
            },
            success: function(data, status) {
                $('#log').prepend(data.join(',') + '\n')
                now = new Date().getTime()
                $('#sensors input').each(function(i,o){
                    axis[i].append(now, data[$(o).val()]);
                });
            }
        });

    }

    getLog();
