.row
    .span12
        .page-header
            %h2 Settings
            %form.form-horizontal
                %fieldset
                    .control-group
                        %label.control-label
                            Location of proxy
                        .controls
                            %input{'type' => 'text', 'value' => 'http://127.0.0.1:5678/'}
                    .control-group
                        .controls
                            %input.btn.btn-primary{'type' => 'submit', 'value' => 'Save'}